/* --- GENERAL STYLING --- */

.container {
	display: flex;
	border: 1px solid red;
}

/* --- HEADER SECTION --- */

#header {
	height: 64px;
	align-items: center;
	justify-content: space-between;
}

#logo {
	padding-left: 24px;
	max-height: 32px;
	align-items: center;
}

nav {

}

a {
	padding: 8px;
}

/* --- BANNER SECTION --- */

#banner {
	background-color: lightgrey;
}

#banner_img {
    width: 60%;
	/* background-image: url('../images/banner.jpg'); */
	border: 3px solid green;
}

#banner_right {
	flex-direction: column;
}


/* --- PRESENTATION SECTION --- */

#presentation_left {
	flex-direction: column;
}

#presentation_right {
	flex-direction: column;
}

/* --- COURSES SECTION --- */


#courses {
	flex-direction: column;
}

/* --- THESIS SECTION --- */

#thesis_left {
    flex-direction: column;
}

#thesis_right {
	flex-direction: column;
}

#fisma_right {
	flex-direction: column;
}

#nowandthen_right {
	flex-direction: column;
}

